<h1>Show Product</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @product.name %>
  </li>

  <li>
    <strong>Quantity:</strong>
    <%= @product.quantity %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.product_path(@conn, :edit, @product) %></span>
<span><%= link "Back", to: Routes.product_path(@conn, :index) %></span>
